<div class="animated fadeIn row">
  <form class="col-sm-4" [formGroup]="subjectForm" (ngSubmit)="addSubject(subjectForm.value)">
    <div class="card">
      <div class="card-header">
        <strong>Add Subject</strong>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">Subject Code</label>
          <input formControlName="code" class="form-control" type="text" placeholder="eg: SCS3101"
            [class.is-invalid]="code.invalid && (code.dirty || code.touched)">
          <span *ngIf="code.invalid && (code.dirty || code.touched)" class="help-block text-danger">Invalid Subject
            Code!</span>
        </div>
        <div class="form-group">
          <label for="vat">Subject Name</label>
          <input formControlName="name" class="form-control" type="text" placeholder="Enter Subject Name"
            [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
          <span *ngIf="name.invalid && (name.dirty || name.touched)" class="help-block text-danger">Invalid Subject
            Name!</span>
        </div>
        <div class="form-group">
          <label for="ccmonth">Course</label>
          <select formControlName="course" class="form-control"
            [class.is-invalid]="course.invalid && (course.dirty || course.touched)">
            <option>Please Select..</option>
            <option value="CS">CS</option>
            <option value="IS">IS</option>
          </select>
          <span *ngIf="course.invalid && (course.dirty || course.touched)" class="help-block text-danger">Please Select
            a Course!</span>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="city">Credits</label>
            <input formControlName="credits" class="form-control" id="city" type="text"
              [class.is-invalid]="credits.invalid && (credits.dirty || credits.touched)"
              placeholder="Enter No. of Credits">
            <span *ngIf="credits.invalid && (credits.dirty || credits.touched)" class="help-block text-danger">Invalid
              no. of Credits!</span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary" type="submit">
          <i class="fa fa-dot-circle-o"></i> Add</button>
      </div>
    </div>
  </form>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Subjects</div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th>Code</th>
              <th>Subject Name</th>
              <th>Course</th>
              <th>Credits</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input value="SCS3101" style="border:none; border-bottom: solid 1px;" type="text"></td>
              <td><input value="DSA" style="border:none; border-bottom: solid 1px;" type="text"></td>
              <td><select style="border: none; border-bottom: solid 1px;">
                  <option value="CS">CS</option>
                  <option value="IS">IS</option>
                </select></td>
              <td><input value="DSA" style="border:none; border-bottom: solid 1px;" type="text"></td>
              <td>
                <button class="btn btn-success btn-sm">Save</button>
                <button class="btn btn-danger btn-sm ml-1">&times;</button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Prev</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
