<!--<mat-card class="main">-->
<div class="main">
  <h2 class="title">Computer Science</h2>
  <mat-card class="cs1">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>For CS General</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        If you selected 3 year general computer science degree program select this..
      </p>
    </mat-card-content>
    <mat-card-actions class="action">
      <button mat-raised-button color="primary" (click)="changeDataSourseCSGen()" >Select Subjects</button>
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

  <mat-card class="cs2">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>For CS 4 year SE</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        If you selected 4 year software engineering degree program select this..
      </p>
    </mat-card-content>
    <mat-card-actions class="action">
      <a routerLink='/selectyearandsemester'><button mat-raised-button color="primary" >Select Subjects</button></a>
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

  <mat-card class="cs3">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>For CS 4 year CS</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        If you selected 4 year computer science degree program select this..
      </p>
    </mat-card-content>
    <mat-card-actions class="action">
      <a routerLink='/selectyearandsemester'><button mat-raised-button color="primary" >Select Subjects</button></a>
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>
</div>

<!--</mat-card>-->


<mat-divider></mat-divider>

<div class="main">
  <br><br>
  <h2 class="title">Information System</h2>
  <mat-card class="is1">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>For IS General</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        If you selected 3 year general Information System degree program select this..
      </p>
    </mat-card-content>
    <mat-card-actions class="action">
      <button mat-raised-button color="primary" >Select Subjects</button>
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

  <mat-card class="cs2">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>For 4 year IS Hons </mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        If you selected 4 year Information system degree program select this..
      </p>
    </mat-card-content>
    <mat-card-actions class="action">
      <button mat-raised-button color="primary" >Select Subjects</button>
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

</div>
